[submodule "flinks-py"]
	path = flinks-py
	url = git@github.com:StoicTopG/flinks-py.git
[submodule "fallparams-py"]
	path = fallparams-py
	url = git@github.com:StoicTopG/fallparams-py.git
[submodule "subenum"]
	path = subenum
	url = git@github.com:StoicTopG/subenum.git
